<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
        <!-- 移动端网页开发需要的设置 -->
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0"> 

        <title>Introduciton of Planet XXX</title>
        <meta name="Description" content="This is an introduction of Planet XXX.">
        <meta name="Keywords" content="Planet XXX">
        
        <link rel="shortcut icon" href="./favicon2.ico" type="image/x-icon">

        <link rel="stylesheet" href="/static/planetxxx/CSS/base.css">
        <link rel="stylesheet" href="/static/planetxxx/CSS/common.css">
        <link rel="stylesheet" href="/static/planetxxx/CSS/index.css">
    </head>

    <body>
        <div class="shortcut">
            <div class="wrapper">
                <ul class="rf">
                    <li class="lf"><a href="#">Support</a></li>
                    <li class="lf"><a href="#">Accessories</a></li>
                    <li class="lf"><a href="#">Community</a></li>
                    <li class="lf"><a href="#">Solution</a></li>
                    <li class="lf">
                        <a href="#">Sign in / Sign up</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header wrapper">
            <div class="logo lf">
                <!--
                    如果logo名是图片，依然要把logo文字留在代码里，有助于SEO搜索引擎优化。
                -->
                <h1>
                    <a href="#">
                    <img src="/static/planetxxx/images/icon1.png" alt="logo">
                    Planet XXX
                    </a>
                </h1>
            </div>
            
            <div class="nav lf">
                <ul class="lf">
                    <li class="lf"><a href="#">Home</a></li>
                    <li class="lf"><a href="#">Collection</a></li>
                    <li class="lf"><a href="#">History</a></li>
                    <li class="lf"><a href="#">Country</a></li>
                    <li class="lf"><a href="#">Satellite</a></li>
                    <li class="lf"><a href="#">Live Image</a></li>
                </ul>
            </div>
            <div class="search lf relative">
                <!-- <span> -->
                    <!-- <img src="./images/search.png" alt=""> -->
                <!-- </span> -->
                <span class="rf">
                    <input type="text" placeholder="Enter Keywords">
                </span>
            </div>
            <div class="bag lf relative">
                <a class="relative" href="#">
                    <!-- <span class="baglogo"></span> -->
                    <!-- <img src="./images/bag1.png" alt=""> -->
                    <span class="tipnumber"></span>
                </a>
            </div>
        </div>

        <div class="banner">
            <div class="wrapper relative">
                <div class="aside">
                    <div class="top">
                        <h5>Sparta</h5>
                        <ul>
                            <li>Nickname: 饼饼</li>
                            <li>Hometown：曲流</li>
                            <li>Breed: 狸花猫</li>
                            <li>Education: 猫博士</li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li><a href="#"><span>猫猫</span><span>得而猪猪</span></a></li>
                            <li><a href="#"><span>猫猫</span><span>得而猪猪</span></a></li>
                            <li><a href="#"><span>猫猫</span><span>得而猪猪</span></a></li>
                            <li><a href="#"><span>猫猫</span><span>得而猪猪</span></a></li>
                            <li><a href="#"><span>猫猫</span><span>得而猪猪</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="content rf relative">
                    <ul>
                        <li><a href="">
                            <img src="/static/planetxxx/images/cat/sparta.jpg" alt="">
                            <p>cat 1</p> 
                        </a></li>
                    </ul>

                    <span class="prev"><a href="#"></a>
                    </span>
                    <span class="next"><a href="#"></a></span>

                    <div class="slider">
                        <ol>
                            <li class="current"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="dasheng wrapper">
            <div class="top">
                <h1>
                    <span>Dasheng</span>
                    <span>最聪明的小笨蛋</span>
                </h1>
                <span class="details rf">
                    <a href="#">
                        查看更多精彩大圣
                    </a>
                </span>
            </div>
            <div class="bottom clearfix">
                <ul>
                    <li class="lf">
                        <a href="#"><img src="/static/planetxxx/images/cat/1.jpg" alt=""></a>
                        <a href=""><h5>晒太阳的猫咪</h5><p>“有什么比晒毛毛更重要的事呢？”</p></a>
                    </li>
                    <li class="lf">
                        <a href="#"><img src="/static/planetxxx/images/cat/2.jpg" alt=""></a>
                        <a href=""><h5>发呆的猫咪</h5><p>“今天大黑给我抓麻雀还是抓老鼠？”</p></a>
                    </li>
                    <li class="lf">
                        <a href="#"><img src="/static/planetxxx/images/cat/3.jpg" alt=""></a>
                        <a href=""><h5>暗中观察的猫咪</h5><p>“追猫咪的狗都是坏狗！”</p></a>
                    </li>
                </ul>
            </div>
        </div> 
        <div class="dahei wrapper">
            <div class="top">
                <h1>
                    <span>Dahei</span>
                    <span>呆呆的大猫又</span>
                </h1>
                <span class="details rf">
                    <a href="#">
                        查看更多精彩大黑
                    </a>
                </span>
            </div>
            <div class="bottom clearfix">
                <ul>
                    <li class="lf">
                        <a href="#"><img src="/static/planetxxx/images/cat/8.jpg" alt=""></a>
                        <a href=""><h5>晒太阳的猫咪</h5><p>“晒毛毛才会变强壮！”</p></a>
                    </li>
                    <li class="lf">
                        <a href="#"><img src="/static/planetxxx/images/cat/7.jpg" alt=""></a>
                        <a href=""><h5>发呆的猫咪</h5><p>“今天给大圣抓麻雀还是抓老鼠？”</p></a>
                    </li>
                    <li class="lf">
                        <a href="#"><img src="/static/planetxxx/images/cat/5.jpg" alt=""></a>
                        <a href=""><h5>凝视中的猫咪</h5><p>“要把追大圣的坏狗赶出领地！”</p></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="wrapper">
                <div class="top">
                    <ul class="lf">
                        <li class="relative lf">
                            <h1><a href="">Wangu Dog</a></h1>
                        </li>
                        <li class="relative lf"><h1><a href="">Miaou Cat</a></h1></li>
                        <li class="relative lf"><h1><a href="">Nimble Corgi</a></h1></li>
                    </ul>
                </div>

                <div class="bottom relative">
                    <ul class="rf ">
                        <li><a href="">About us</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">About us</a></li>
                    </ul>
                    <span>Copyright @PlanetXXX</span>
                </div>
            </div>
        </div>
    </body>
</html>